/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/rgb.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>

 #define DEFAULT 0
 #define LOWER  1
 #define RAISE  2
 #define PAD    3
 #define ADJUST 4
 #define GAME   5

/* NOTE: At the time of the creation of this keymap, there are no specified codes for 'eisuu' and 'kana' input in ZMK.
However, 'LANG1' and 'LANG2' are fully-functioning candidates for 'kana' and 'eisuu' input respectively.
As such, those are in use within the default layer at this time.*/

/ {
       keymap {
              compatible = "zmk,keymap";
 
              default_layer {
 // ----------------------------------------------------------------------------------------------------------------------------------------------------
 // | GRESC  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  BSPC   |
 // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |   \     |
 // |  CTL   |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '     |
 // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |   -    |                    |   =    |   N    |   M    |   ,    |   .    |   /    |  RSHIFT |
 // | ADJUST |  PAD   |        |  LGUI  |  LALT  | ENTER  | LOWER  |                    |  RAISE | SPACE  |  RALT  |  LEFT  |  DOWN  |  UP    |  RIGHT  |
                     bindings = <
       &gresc          &kp N1  &kp N2     &kp N3   &kp N4    &kp N5                               &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp BSPC
       &kp TAB         &kp Q   &kp W      &kp E    &kp R     &kp T                                &kp Y     &kp U     &kp I     &kp O      &kp P     &kp BSLH
       &kp LCTRL       &kp A   &kp S      &kp D    &kp F     &kp G                                &kp H     &kp J     &kp K     &kp L      &kp SEMI  &kp SQT
       &kp LSHFT       &kp Z   &kp X      &kp C    &kp V     &kp B    &kp MINUS        &mo ADJUST &kp N     &kp M     &kp COMMA &kp PERIOD &kp SLASH &kp RSHIFT
       &to DEFAULT     &to PAD &to GAME   &kp LGUI &kp LALT  &kp RET  &mo LOWER        &mo RAISE  &kp SPACE &kp RALT  &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT
                     >;
              };
              lower_layer {
 // -------------------------------------------------------------------------------------------------------------------------
 // |       |      |      |      |      |      |                                  |      |      |      |      |      |      |
 // |       |      |      |      |      |      |                                  |  /   |  *   |  (   |  )   |  \   | DEL  |
 // |       |      |      |      |      |      |                                  |  -   |  +   |  {   |  }   |  |   |      |
 // |       |      |      |      |      |      |      |                    |      |  _   |  =   |  [   |  ]   |  /   |      |
 // | CAPS  |      |      |      |      |      |      |                    |      |      |      | HOME | PGUP | PGDN | END  |
                     bindings = <
       &trans    &trans   &trans &trans   &trans   &trans                             &trans    &trans    &trans    &trans   &trans    &trans
       &trans    &trans   &trans &trans   &trans   &trans                             &kp SLASH &kp ASTRK &kp LPAR &kp RPAR  &kp BSLH  &kp DEL
       &trans    &trans   &trans &trans   &trans   &trans                             &kp MINUS &kp PLUS  &kp LBRC &kp RBRC  &kp PIPE  &trans
       &trans    &trans   &trans &trans   &trans   &trans    &trans          &trans   &kp UNDER &kp EQUAL &kp LBKT &kp RBKT  &trans    &trans
       &kp CAPS  &trans   &trans &trans   &trans   &trans    &trans          &trans   &trans    &trans    &kp HOME &kp PG_UP &kp PG_DN &kp END
                     >;
              };
              raise_layer {
 // --------------------------------------------------------------------------------------------------------------------------------------
 // |  ESC  |  F1   |  F2   |  F3   |  F4   |  F5   |                                    |  F6   |  F7   |  F8   |  F9   |  F10  |  F11  |
 // |   ~   |   !   |   @   |   #   |   $   |   %   |                                    |   ^   |   &   |   *   |   (   |   )   |  F12  |
 // |   `   |   1   |   2   |   3   |   4   |   5   |                                    |   6   |   7   |   8   |   9   |   0   |  F12  |
 // |       |  F1   |  F2   |  F3   |  F4   |  F5   |                                    |  F6   |  F7   |  F8   |  F9   |  F10  |  F11  |
 // |       |       |       |       |       |       |       |                    |       |       |       |       |       |       |       |
                     bindings = <
       &kp ESC   &kp F1   &kp F2   &kp F3   &kp F4    &kp F5                            &kp F6    &kp F7    &kp F8     &kp F9       &kp F10      &kp F11
       &kp TILDE &kp EXCL &kp AT   &kp HASH &kp DLLR  &kp PRCNT                         &kp CARET &kp AMPS  &kp ASTRK  &kp LPAR     &kp RPAR     &kp F12
       &kp GRAVE &kp N1   &kp N2   &kp N3   &kp N4    &kp N5                            &kp N6    &kp N7    &kp N8     &kp N9       &kp N0       &kp F12
       &trans    &kp F1   &kp F2   &kp F3   &kp F4    &kp F5     &trans        &trans   &kp F6    &kp F7    &kp F8     &kp F9       &kp F10      &kp F11
       &trans    &trans   &trans   &trans   &trans    &trans     &trans        &trans   &trans    &trans    &trans     &trans       &trans       &trans
                     >;
              };
              pad_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |       |       | PRTSC | SCRLL | PAUSE |       |                                    | NLCK  |  CLR  |   /   |   *   |   -   |       |
 // |       |       |  INS  |  HOME |  PGUP |       |                                    |       |   7   |   8   |   9   |   +   |  DEL  |
 // |       |       |  DEL  |  END  |  PGDN |       |                                    |       |   4   |   5   |   6   |   +   |   \   |
 // |       |       |       |       |       |       |       |                    |       |       |   1   |   2   |   3   | ENTER |       |
 // |       |       |       |       |       |       |       |                    |       |       |   0   |   =   |   .   | ENTER |       |
                     bindings = <
       &trans  &trans  &kp PSCRN  &kp SLCK  &kp PAUSE_BREAK &trans                  &kp KP_NLCK  &kp KP_CLEAR  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp KP_MINUS  &trans
       &trans  &trans  &kp INS    &kp HOME  &kp PG_UP  &trans                       &trans       &kp KP_N7     &kp KP_N8      &kp KP_N9        &kp KP_PLUS   &kp DEL
       &trans  &trans  &kp DEL    &kp END   &kp PG_DN  &trans                       &trans       &kp KP_N4     &kp KP_N5      &kp KP_N6        &kp KP_PLUS   &kp BSLH
       &trans  &trans  &trans     &trans    &trans     &trans  &trans        &trans &trans       &kp KP_N1     &kp KP_N2      &kp KP_N3        &kp KP_ENTER  &trans
       &trans  &trans  &trans     &trans    &trans     &trans  &trans        &trans &trans       &kp KP_N0     &kp KP_EQUAL   &kp KP_DOT       &kp KP_ENTER  &trans
                     >;
              };
              adjust_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          |          |          |          |          |          |  EP TOG  |
 // |          |          |          |          |          |          |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
 // |  BT NXT  |          |          |          |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
 // |  BT PRV  |          |          | OUT TOG  | OUT USB  | OUT BLE  |          |                    |          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |
                     bindings = <
       &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                          &trans          &trans          &trans          &trans          &trans          &ext_power EP_TOG
       &trans     &trans       &trans       &trans       &trans       &trans                                &rgb_ug RGB_EFF &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_SPI &rgb_ug RGB_BRI &rgb_ug RGB_TOG 
       &bt BT_NXT &trans       &trans       &trans       &trans       &trans                                &rgb_ug RGB_EFR &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_SPD &rgb_ug RGB_BRD &trans
       &bt BT_PRV &trans       &trans       &out OUT_TOG &out OUT_USB &out OUT_BLE &trans          &trans   &trans          &trans          &trans          &trans          &trans          &trans
       &trans     &trans       &trans       &trans       &trans       &trans       &trans          &trans   &trans          &trans          &trans          &trans          &trans          &trans
                     >;
              };
              game_layer {
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |  ESC     |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |
 // |  CAPS    |          |          |   LALT   |  SPACE   |  SPACE   |          |                    |          |          |          |          |          |          |          |
                      bindings = <
       &kp ESC    &trans       &trans       &trans       &trans       &trans                                &trans          &trans          &trans          &trans          &trans          &trans
       &trans     &trans       &trans       &trans       &trans       &trans                                &trans          &trans          &trans          &trans          &trans          &trans
       &kp LCTRL  &trans       &trans       &trans       &trans       &trans                                &trans          &trans          &trans          &trans          &trans          &trans
       &trans     &trans       &trans       &trans       &trans       &trans       &trans          &trans   &trans          &trans          &trans          &trans          &trans          &trans
       &kp CAPS   &to DEFAULT  &to DEFAULT  &kp LALT     &kp SPACE    &kp SPACE    &trans          &trans   &kp RETURN      &trans          &trans          &trans          &trans          &trans
                     >;
              };
       };
};

 // Empty Template
 // ---------------------------------------------------------------------------------------------------------------------------------
 // |          |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |                                          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |
 // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |

